body{
    background-color: #efefef;
}
.main{
    background-color: white;
    margin: 30px;
}
.question-title{
    margin-top: 25px;
}
.qustion-tag{
    margin-right: 5px;
}
.question-related{
    line-height: 20px;
    font-size: 12px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}
.question-divideSpace{
    width: 100%;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.publish-tag-tab{
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}
.publish-tag-tab .label-info{
    margin: 5px 5px;
    display: inline-block;
    white-space: normal;
}
.comment-sp{
    margin-top: 0;
}
.media-object{
    width: 40px;
    height: 40px;
}
.media-body{
    padding-top: 10px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile .section{
    margin-top: 15px;
}

.community-menu{
    color: #999;
    margin-bottom: 18px;
    font-size: 13px;
}

.jumbotron{
    margin: 50px;
}
.comment{
    margin: 10px 0;
}
.btn-comment{
    float: right;
    margin-bottom: 10px;
}
.comments{   /*放在id下的用"#"   放在class中的用"."*/
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom:1px solid #eee;
}
.sub-comments{
    border-radius: 5px;/*页面的显示是   边界是圆弧的*/
    margin-top:10px;/*margin层距离上边缘10px*/
    border: 1px solid #eee;/*边界框*/
    padding-top: 15px;/*border内层的padding距离border15px*/
    margin-bottom: 15px;
}
.sub-comments .btn{
    margin: 10px 0;
}
.menu{
    color: #999;
}
.menu .comment-icon{
    font-size: 15px;
    cursor: pointer;
}
.menu .comment-icon:hover{
    color: #499ef3;
}
.menu .icon{
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer; /*显示小手*/
}
.menu .icon:hover{/*鼠标放上显示颜色*/
    color: #499ef3;
}